
    <h1> <%= title%> </h1>


    <section id="feedpost">
        <h4>Posts</h4>
        
        <form action="/post/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here"></textarea>
            <button type="submit">Post</button>
        </form>

        <div id="post-container">
            <% if(posts.length != 0) { %>
                <% for(let post of posts) { %>
                    <div>
                        <p>
                            <%= post.content %>
                            <br>
                            <small> 
                                <%= post.user.name %>
                            </small>
                        </p>
                    </div>
                <% } %>
            <% } %>

        </div>
    </section>
