<link rel="stylesheet" href="/css/home.css">
<h1> <%= title%> </h1>

<% if(locals.user) { %>

    <section id="feedpost">
        <h4>Posts</h4>
        
        <form action="/post/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here" required></textarea>
            <button type="submit">Post</button>
        </form>
        
        <div id="post-container">
            <% for(let post of posts) { %>
                <%- include('_post', {post:post}) -%>
            <% } %>
        </div>
    </section>
                
<%} %>
                