<h1>Sign Up</h1>

<form action="/users/create" method="post">

    <input name="name"  type="text" placeholder="Your Name" required>
    <input name="email" type="email" placeholder="Your Email" required>
    <input name="password" type="password" placeholder="Password" required>
    <input name="confirm_password" type="password" placeholder="Confirm Password" required>
    <button type="submit"> Sign Up</button>

</form>

<div>
    <a href="/users/auth/google"> Sign Up via google 
        <img src="/images/google_logo.png" width="40px" height="40px">
    </a>
</div>