   <link rel="stylesheet" href="/css/user_profile.css">
   <h1> Now viewing <%= title %> </h1>

   <p> Name: <%= user.name %> </p>
   <p> Email: <%= user.email %> </p>

  <form action="/users/sign-out" method="get">
   <button> Sign-out</button>
  </form>