nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background: #2196f3;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;

    .mini-logo{
        p{
            margin: 5px;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }

    .links{
        ul{
            margin: 5% 5px;
            list-style: none;
            display: flex;
            li{
                padding-left: 10px;
            }
        }
    }

    a{
        color: white;
        text-decoration: none;
    }
}