
    #home-container{
        text-align: center;
        display: flex;
        justify-content: space-around;
        
        #feed-posts{
            width: 90%;
            padding: 10px;
        }
    
        #user-friends{
            width: 10%;
            padding: 10px;
            border-left: 1px solid lightgrey;
            height: 100%;
        }
    }