body{
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column; 
    height: 100%;

    #layout-main{
        height: auto;
        min-height: 100vh;
    }
    
    footer{
        color: aliceblue;
        background: grey;
        padding: 5px 10px;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
    }
}