body{
    margin: 0;
    text-align: center; 
    #layout-main{
        height: inherit;
    }
    
    footer{
        color: aliceblue;
        background: grey;
        padding: 5px 10px;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        margin-top: 90%;
    }
}